.main-container {
    display: contents;

    padding: 20px;
    margin-bottom: 50px;
}

.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.group-container {
    background-color: rgba(18, 46, 44, 0.4);
    border: 3px solid #235347;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.group-header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.group-body {
    display: flex;
    flex-wrap: wrap;
}

.category-container {
    border: 3px solid #739688;
    border-radius: 10px;
    background-color: #163832;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-header {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    color: #00f5d4;
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    width: 90%;
    margin-left: 5%;
    border: 3px solid #739688;
    border-radius: 10px;
    background-color: #163832;
    box-shadow: 0 3px 5px #00ff9f;
}

.skill-header {
    font-size: medium;
    padding-top: 10px;
    color: #00f5d4;
}

.progress {
    background-color: #235347;
    border-radius: 10px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #00ff9f;
    height: 100%;
    border-radius: 10px;
}