.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0b2e2f;
}

.container {
    color: #daf1de;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}


